.error {
  padding: 1rem;
  background-color: red;
  color: white;
}
form {
  padding: 3rem;
}
input,
button {
  display: flex;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.ng-invalid.ng-touched {
  border: 1px solid #f25e5ec3;
  background-color: #f25e5ec3;
}
