<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" formControlName="title" />
  <label for="price">Price</label>
  <input type="text" name="price" id="price" formControlName="price" />
  <label for="brand">Brand</label>
  <input type="text" name="brand" id="brand" formControlName="brand" />
  <label for="category">Category</label>
  <input type="text" name="category" id="category" formControlName="category" />
  <label for="image">Image</label>
  <input type="text" name="image" id="image" formControlName="image" />
  <label for="image">Thumbnail</label>
  <input type="text" name="thumbnail" id="thumbnail" formControlName="thumbnail" />
  <label for="image">Id</label>
  <input type="text" name="id" id="id" formControlName="id" />
  <button type="submit">add new product</button>
  <a [routerLink]="[`/`]">go back to home</a>
</form>
