<form #form="ngForm" (ngSubmit)="submitForm(form)">
  <label for="name">Name: </label>
  <input type="text" name="name" id="productName" required minlength="4" ngModel #name="ngModel" />
  <label for="ability">Price: </label>
  <input type="text" name="price" id="productPrice" required ngModel #price="ngModel" />
  <button type="submit">submit new product</button>

  @if (name.touched && price.touched && form.form.invalid) {
    <div class="error">something went wrong try again!</div>
  }

  <a [routerLink]="[``]">go to home</a>
</form>
<!-- <form submit="someurl">
  <Label>hello</Label>
  <input name="helloField" />
  <button type="submit">push me</button>
</form> -->
