<main>
  <h1>E-Store</h1>
  <div class="products">
    @if (products().length > 0) {
      @for (product of products(); track product.title) {
        <app-product 
          [name]="product.title"
          [price]="product.price"
          [url]="product.thumbnail"
        >
        </app-product>
      }
    }
  </div>
  <footer>
    <p>Copyright 2026</p>
  </footer>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
